* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #000000, #1A1A1A);
}

h2 {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    color: white;
}

.highlight {
    color: rgb(255, 255, 0);
}

.login {
    padding-left: 0.5rem;
}

.page {
    display: flex;

}

.image img {
    width: 40vw;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60vw;
}

.details {
    display: flex;
    flex-direction: column;

}

.creds {
    padding: 1.25rem;
    width: 30rem;
    margin: 1.2rem;
    background-color: rgba(161, 158, 158, 0.3);
    border: none;
    outline: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: rgb(252, 252, 252);
}

.creds::placeholder {
    color: rgb(255, 252, 252);
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.google {
    outline: auto;
}

.googlejoin button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    position: relative;
}

#login {
    width: 30rem;
    margin: 1.2rem;
    padding: 1.25rem;
    background-color: yellow;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
}

h1 {
    /* margin-left: 3.2rem; */
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding: 0.35rem;
    font-size: 2.5rem;
}

span {
    font-family: 'Josefin Slab', serif;
}

.namesDiv {
    display: flex;
    justify-content: space-between;
}

.names {
    width: 14rem;
}

#FirstName {
    margin-right: 0;
}

#LastName {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: yellow;
}

P {
    color: yellow;
    position: absolute;
    z-index: 1;
    margin: 15rem;
    font-size: 3.5rem;
    margin-left: 2rem;
}

svg {
    margin: 0 0.5rem;
}

#login a {
    text-decoration: none;
    color: black;
}